body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-image: url(/img/campNou.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5); /* Camada escura para melhor contraste */
}

.login-form {
    position: relative;
    padding: 40px;
    background: rgb(14, 13, 13);
    opacity: 0.9; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 2; /* Garante que o formulário fique acima do pseudo-elemento ::before */
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 4px 6px rgba(59, 128, 255, 0.2);
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

.login-form h2:hover {
    color:#0056b3
}
.login-form h2::after {
    content: '';
    display: block;
    width: 55px;
    height: 5px;
    background: #007BFF;
    margin: 2px auto;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 1px;
    border: 1px solid #28209b;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que padding não aumente o tamanho do input */
}
.login-form input:focus {
    border-color: #fd4d4d;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: inset 0 4px 6px rgba(0, 0, 1, 0.3);
}

.login-form button:hover {
    background-color: #0056b3;
}
